* {
    box-sizing: border-box;
}

body {

    background-color: #7fd2f3;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Solitreo', cursive;
    color: white;
    font-size: 50px;
    text-align: center;
    margin: 20px;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-container {
    flex-direction: column;
}

.buttons-container {
    flex-wrap: wrap;
    width: 90%;
    max-width: 700px;
    background-color: #FFFFFF;
    margin: 15px;
    border-radius: 7px;
    padding: 40px 15px;
    border: 1px solid #3EACDE;
}

.laugh-button {
    width: 100px;
    height: 100px;
    margin: 10px;
    border: none;
    border-radius: 50%;
    background-color: #f7dfae;
    box-shadow: 0px 7px 0px -1px #E3A830;
    cursor: pointer;
    overflow: hidden;
}

.button-image {
    width: 100%;
}

ul {
    list-style: none;
    padding: 10px;
    width: 200px;
    justify-content: space-evenly;
}


a {
    padding: 9px 10.5px;
    margin: 10px;
    border-radius: 50%;
    background-color: #d2706a;
    text-decoration: none;
    color: white;
}

/*User interaction*/

.laugh-button:hover {
    transform: translate(0px,1px);
    box-shadow: 0px 6px 0px -1px  #C5271F;
}

.laugh-button:active {
    transform: translate(0px,6px);
    box-shadow: 0px 7px 0px -1px transparent;
}

a:hover {
    background-color: #FFFFFF;
    color: #d2706a;
}

a:focus {
    outline: none;
    box-shadow: rgba(94, 56, 56, 0.404) 0px 2px 8px 0px;
}

@media (max-width:410px) {

    h1 {
        font-size: 40px;
    }

    .laugh-button {
        width: 70px;
        height: 70px;
    }

    .buttons-container {
        padding: 20px 5px;
    }

}